/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Default margin-padding:0px */
*{
    margin: 0;
    padding: 0;
}

/* Common styles */
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}
.btn{
    padding: 20px 0;
    font-weight: 600;
    color: white;
    background-color: rgba(233, 90, 8, 1);
    border: none;
}


/* Header styles */

/* Nav styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 120px;
}
.menu{
    display: flex;
    gap: 48px;
}
.menu li:nth-child(1), .menu li:nth-child(4){
    font-weight: bold;
}
.menu li{
    list-style: none;
}
.menu li .light{
    color: rgba(137, 135, 161, 1);
}
.menu li a{
    text-decoration: none;
    color: rgba(37, 36, 50, 1);
}

/* Banner */
.banner{
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.banner-info h1{
    font-weight: bold;
    font-size: 65px;
    margin-bottom: 13px;
}
.banner-info span{
    color: rgba(233, 90, 8, 1);
}
.banner-info p{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
}

/* Our plants section */
.our-plants .section-intro h2{
    font-weight: bold;
    font-size: 50px;
}
.our-plants .section-intro span{
    color: rgba(233, 90, 8, 1);
}
.our-plants .section-intro p{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    max-width: 888px;
    margin: 16px auto 50px;
}
.plants-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 20px;
    margin-bottom: 210px;
}
.plant{
    display: flex;
    flex-direction: column;
}
.plant img{
    margin-bottom: 30px;
    width: 100%;
}
.plant h2{
    font-weight: 500;
    font-size: 22px;
    color: rgba(17, 17, 17, 1);
}
.plant p{
    margin: 20px 0 30px;
    font-weight: bold;
    font-size: 22px;
    color: rgba(17, 17, 17, 1);
}

/* Flower-plant-lover section*/
.flower-plant-lover{
    display: flex;
    justify-content: space-between;
    gap: 60px;
    align-items: center;
    margin-bottom: 130px;
}
.flower-plant-lover .left{
    background: linear-gradient(to top, rgba(233, 90, 8, 1), rgba(103, 171, 234, 0.4));
}
.flower-plant-lover .left img{
    display: block;
}
.flower-plant-lover .right h1{
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 20px;
}
.flower-plant-lover .right ul{
    margin-left: 35px;
}
.flower-plant-lover .right li{
    margin-bottom: 20px;
}
.flower-plant-lover .right p{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
}