/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Default margin-padding:0px */
*{
    margin: 0;
    padding: 0;
}

/* Common styles */
.container{
    max-width: 1140px;
    margin: 0 auto;
}


/* Header styles */

/* Nav styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 120px;
}
.menu{
    display: flex;
    gap: 48px;
}
.menu li:nth-child(1), .menu li:nth-child(4){
    font-weight: bold;
}
.menu li{
    list-style: none;
}
.menu li .light{
    color: rgba(137, 135, 161, 1);
}
.menu li a{
    text-decoration: none;
    color: rgba(37, 36, 50, 1);
}

/* Banner */
.banner{
    display: flex;
    justify-content: space-between;
}
.banner-info h1{
    font-weight: bold;
    font-size: 65px;
    margin-bottom: 13px;
}
.banner-info span{
    color: rgba(233, 90, 8, 1);
}
.banner-info p{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
}